body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #4D4E53;
}

nav {
    float: left;
    width: 25%;

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    border-right: 3px solid black;

    overflow-y: auto;
    overflow-x: hidden;
}

.nav-item {
    display: block;
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-decoration: none;
    color: black;
}

.text-big {
    font-size: 1.9em;
}

.text-center {
    text-align: center;
}

main {
    float: right;
    width: 65%;
    padding: 15px 5%;
}

.code {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px;
}